<head>
  <link rel="stylesheet" href="app.component.css">
</head>
<div class="container">
  <div class="row">
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="">Student List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="employee">Employee List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="fruit-list">Fruit List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="course-list">Course List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="book-list">Book List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="city-list">City List</button></div>
  </div>
  
  <div class="row">
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="movie-list">Movie List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="car-model-list">Car Model List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="product-list">Product List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="subject-list">Subject List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="country-list">Country List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="sports-list">Sports List</button></div>
  </div>

  <div class="row">
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="vegetable-list">Vegetable List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="animal-list">Animal List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="tool-list">Tool List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="language-list">Language List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="game-list">Game List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="software-list">Software List</button></div>
  </div>

  <div class="row">
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="phone-contact-list">Phone Contact List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="music-playlist">Music Playlist</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="food-menu">Food Menu</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="grocery-list">Grocery List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="classroom-list">Classroom List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="inventory-list">Inventory List</button></div>
  </div>

  <div class="row">
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="lecture-list">Lecture List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="stationery-list">Stationery List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="flower-list">Flower List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="destination-list">Destination List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="laptop-list">Laptop List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="laptop-specification-list">Laptop Specifications List</button></div>
  </div>

  <div class="row">
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="computer-hardware-list">Computer Hardware List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="mobile-app-list">Mobile App List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="video-list">Video List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="tv-show-list">TV Show List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="furniture-list">Furniture List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="accessory-list">Accessory List</button></div>
  </div>

  <div class="row">
    
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="building-list">Building List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="painting-list">Painting List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="artist-list">Artist List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="composer-list">Composer List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="podcast-list">Podcast List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="exercise-list">Exercise List</button></div>
  </div>

  <div class="row">
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="meal-plan-list">Meal Plan List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="budget-list">Budget List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="presentation-list">Presentation List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="tour-list">Tour List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="event-list">Event List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="development-tools-list">Developer Tools List</button></div>
  </div>

  <div class="row">
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="framework-list">Framework List</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-custom" routerLink="library-list">Library List</button></div>
  </div>
</div>

<router-outlet></router-outlet>
